.idea
.vagrant
*.retry
.sonar
*.pyc
*.iml
.sonar_lock
*.log
.cache
*.terrible-vars.yml
*.terrible
scratch.py
node_modules
.terraform
terraform.tfstate
terraform.tfstate.backup
.terraform.tfstate.lock.info
vault_pass.txt