[user]
	email = rutger.de.knijf@energyworx.org
	name = Rutger de Knijf
	signingkey = C9579456375E704F

[includeIf "gitdir:~/ewx/**"]
	path = /home/rdeknijf/ewx/.gitconfig

[includeIf "gitdir:energyworx/"]
	path = /home/rdeknijf/ewx/.gitconfig

[push]
	default = simple
[core]
	filemode = false
	autocrlf = input
	excludesfile = ~/.gitignore
[commit]
	gpgsign = true
[gpg]
	program = gpg
[tag]
	forceSignAnnotated = false
[init]
	defaultBranch = master
